* {
    margin: 0;
    padding: 0;
  }
  body{
      background-color: slategray;
  }

  .shipSelect, .roundButton{
      margin-left: 40%;
  }

  .playerForms{
      margin-left: 40%;
      margin-right: 50%;
      display: block;
      margin-top: 4%;
      text-align: center;
  }
  
  .nameSubmit{
      width: 100%;
  }

.playArea{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 4%;
    width: 1200px;
    height: 900px;
}

.gbWrapper{
    width: 600px;
    height: 190px;
}

.sbWrapper{
    width: 600px;
    height: 190px;
}

.sb{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.gb{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}